*~
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
install-sh
missing
doc/lyx/MQL-Programmers-Guide.pdf
doc/lyx/MQL-Query-Guide.pdf
doc/lyx/Monad-Sets.pdf
doc/lyx/New-EMdF.pdf
doc/lyx/Rel-EMdF.pdf
doc/lyx/Standard-MdF.pdf
doc/progref/*.htm
doc/progref/*.html
doc/progref/EmdrosProgRefGuide.*
doc/progref/config.log
doc/progref/config.py
doc/progref/config.pyc
doc/progref/emdros-progref-guide-*.zip
doc/progref/index.html
emdros-docs-*.tar.gz
doc/importtool/*.htm
doc/importtool/*.html
doc/importtool/ImportToolUsersGuide.*
doc/importtool/buildhtb.py
doc/importtool/config.log
doc/importtool/config.py
doc/importtool/config.pyc
doc/importtool/index.html
doc/querytool/*.htm
doc/querytool/*.html
doc/querytool/EQTUsersGuide.*
doc/querytool/buildhtb.py
doc/querytool/config.log
doc/querytool/config.py
doc/querytool/config.pyc
doc/querytool/index.html
